body{
	background-color: purple;
}

header{
	background-color: blue;
	border-bottom: .25rem solid darkgrey;
}
section{
	background-color: teal;
	border-top: .25rem solid darkgrey;
}
.blog__entry{
	background-color: lightblue;
}
.entry__topic{
	font-style: italic;
}
footer{
	background-color: magenta;
}
@media only screen and (max-width: 425px){
	h1{
		font-size: 152%;
	}
	h3{
		font-size: 105%;
	}
}