* {
	max-width: 100vw;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header{
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
header h3{
	padding-top: .5rem;
}
section{
    display: grid;
    grid-template-rows: repeat(3, auto);
    margin-top: 2rem;
    margin-left: 8rem;
    margin-right: 8rem;
}
.blog__entry{
	margin-bottom: 3rem;
}
.entry__info{
	display: inline-flex;
	padding-top: .5rem;
	padding-bottom: .5rem;	
}
.entry__topic{
	font-style: italic;
}
.entry__info__mobile{
	display: none;
}
footer{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: .5rem;
    padding-left: .5rem;
    position: relative;
    bottom: 0px;
    width: 100vw;
}
@media only screen and (max-width: 1024px){
	section{
		margin-left: 7rem;
		margin-right: 7rem;
	}
}
@media only screen and (max-width: 768px){
	header{
		padding-left: .5rem;
		padding-right: .5rem;
	}
	section{
		margin-left: 5rem;
    	margin-right: 5rem;
	}
	.entry__info{
		display: none;
	}
	.entry__info__mobile{
		display: block;
		padding-bottom: 1rem;
	}
	.entry__info__mobile h4{
		padding-top: .25rem;
	}
	footer{
		display: block;
		text-align: center;
	}
}

@media only screen and (max-width: 425px){
	h1{
		font-size: 152%;
	}
	h3{
		font-size: 105%;
	}
	section{
		margin-left: 1rem;
    	margin-right: 1rem;
	}
	.entry__info{
		display: none;
	}
	.entry__info__mobile{
		display: block;
		padding-bottom: 1rem;
	}
	.entry__info__mobile h4{
		padding-top: .25rem;
	}
} 