<!DOCTYPE html>
<html>
<head>
	<title>
		Title of Post
	</title>
</head>
<body>
	<header>
		<h1>Surving Coding Bootcamp</h1>
		<h2>Blog Title</h2>
		<h3>Author</h3>
	</header>
	<nav>
		<ul>
			<li>Home</li>
			<li>Author</li>
		</ul>
	</nav>
	<section>
		<div class = "blogInformation">
			<h2>Blog Title</h2>
			<h4>Author</h4>
			<h4>Creation Date & Time</h4>
			<h4>Topic Link</h4>
		</div>
		<div class = "blogContent">
			<p>Blog post...</p>
		</div>
	</section>
	<footer>
		<h4>&copy2018 Surviving Coding Bootcamp</h4>
		<h4>Developed by former students of We Can Code IT! Columbus, Ohio</h4>
	</footer>
	<script src="../js/individualBlog.js"></script>

</body>
</html>