*{
}
a{
	cursor: pointer;
	text-decoration: none;
}
body{
	background-color: white;
	cursor: default;
}
header{
	font-family: 'Noto Serif', serif;
	background-color: blue;
	border-bottom: .25rem solid darkgrey;
}
h2{
	font-family: 'Prociono', serif;
}
h4{
	font-family: 'Josefin Slab', serif;
}
p{
	font-family: 'Arvo', serif;
}
section{
	background-color: teal;
	border-top: .25rem solid darkgrey;
}
#active__page{
	color: magenta;
}
.btn-inline > img{
	height: 1rem;
	width: 2rem;
	padding: .2rem;
}
.btn-inline{
	height: 3rem;
	width: 4rem;
	border-radius: 1.25rem;
	font-size: .75rem;
	border: .15rem solid darkblue;
    background-color: aliceblue;
}
.blog__entry{
	background-color: lightblue;
}
.entry__topic{
	font-style: italic;
}
.article__separator{
	border-bottom: .2rem solid lightgrey;
	padding-top: 4rem;
}
footer{
	background-color: magenta;
}
@media only screen and (max-width: 768px) {
	h1 {
		font-size: 190%;
	}
}

@media only screen and (max-width: 475px){
	h1{
		font-size: 150%;
	}
	h3{
		font-size: 105%;
	}
}
@media only screen and (max-width: 320px){
	h1{
		font-size: 133%;
	}
}